<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>送信が完了しました</h2>

      <p>内容は以下の通りです。</p>
      <p>[件名]</p>
      <p><%= @mail.title %></p>
      <p>[本文]</p>
      <p><%= @mail.content %></p>
    </div>
  </div>
</div>
